.settings-section {
  display: flex;
  flex-direction: column;
}

.settings-section-name {
  margin-block: 0;
  font-size: 1.25rem;
}

.settings-description {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

.settings-option {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  background-color: var(--color-ui-layer-dim);
  border-bottom: 2px solid var(--color-background);
  box-shadow: 0 2px 4px var(--color-shadow-light);
  clip-path: inset(0 -1rem 0 -1rem);
  min-height: 3.5rem;
  transition: background-color 0.25s;

  &:first-of-type {
    margin-top: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    clip-path: inset(-1rem -1rem 0 -1rem);
  }

  &:last-of-type {
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    clip-path: inset(0 -1rem -1rem -1rem);
  }

  &:only-of-type {
    clip-path: none;
  }

  &.align-start {
    align-items: start;
  }

  & .settings-description {
    margin-top: 0.25rem;
  }

  &:hover {
    background-color: color-mix(in oklab,
        var(--color-ui-layer-dim),
        white 2.5%);
  }

  &:focus-within {
    outline: 2px solid var(--color-accent);
    outline-offset: -2px;
  }

  &.settings-option-text {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: text;

    & div {
      font-size: 0.75rem;
      align-self: self-start;
      color: var(--color-text-secondary);
    }

    & input {
      height: auto;
      width: 100%;
      border: none;
      background: unset;
      padding: 0;
    }

    & .settings-edit-icon {
      cursor: default;
      position: absolute;
      right: 1rem;
      top: 1rem;
      opacity: 1;
      transition: opacity 0.1s;
    }

    &:focus-within .settings-edit-icon {
      opacity: 0;
    }
  }

  & select {
    border: none;
    background: none;
    /* align-items: flex-end; */
    justify-content: end;
    /* text-align: right; */
    flex-grow: 1;

    &::picker-icon {
      margin: 0;
    }

    &:focus-visible {
      outline: none;
    }

    &:open {
    flex-grow: 0;
      width: 120px;
    }
  }

  &.settings-option-button {
    gap: 5rem;

    &>div {
      flex: 0 0 auto;
    }

    & button {
      all: unset;
      padding: 0.5rem;
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      min-width: 0;

      &:disabled {
        opacity: 0.5;
      }

      & svg {
        flex: 0 0 auto;
      }

      & span {
        color: var(--color-text-secondary);
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

}
