@import './fonts/Nunito/style.css';
@import './fonts/Inter/style.css';
@import './fonts/Roboto_Mono/style.css';

* {
  box-sizing: border-box !important;
}

:root {
  --color-red: oklch(75% 0.125 25deg);
  --color-green: oklch(75% 0.125 150deg);
  --color-blue: oklch(75% 0.125 245deg);
  --color-yellow: oklch(75% 0.125 60deg);
  --color-purple: oklch(75% 0.125 300deg);
  --color-accent: var(--color-red);
  /*--color-background: #202020;*/
  --color-background: #101010;
  --color-background-light: #202020;
  --color-text: #d0d0d0;
  --color-text-secondary: color-mix(in srgb, var(--color-text), transparent 25%);
  --color-text-highlight: white;
  --color-ui-layer-dim-2: #80808012;
  --color-ui-layer-dim: #80808020;
  --color-ui-layer: #80808040;
  --color-ui-layer-light: #80808080;
  --color-shadow-light: #0002;
  --color-shadow-strong: #0004;
  --color-context-menu: #202020;
  --font-display: 'Nunito', system-ui, sans-serif;
  --font-sans-serif: 'Inter', system-ui, sans-serif;
  --font-monospace: 'Roboto Mono', monospace;
  --sidebar-width: 240px;

  --border-radius: .25rem;

  color-scheme: dark;
}

:root.oled {
  --color-background: #000000;
}

body {
  margin: 0;
  font-family: var(--font-sans-serif);
  color: var(--color-text);
  background-color: var(--color-background);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  margin-top: 0;
}

button:not(.btn-other),
input,
select,
.sidebar-item {
  &:focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 0;
  }
}

a.fake-btn {
  text-decoration: none;
}

button:not(.btn-other),
.fake-btn {
  user-select: none;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: currentColor;
  background-color: var(--color-ui-layer);
  border: none;
  border-radius: 0.25rem;
  transition: scale 200ms;
  cursor: pointer;
  vertical-align: middle;

  &:active {
    &:not(:disabled) {
      scale: 0.95;
    }

    &:disabled {
      animation: not-allowed 100ms;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

progress.card-progress {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;

  border: none;


  &::-webkit-progress-value {
    background: var(--color-green);
  }

  &::-webkit-progress-bar {
    background: var(--color-ui-layer);
  }
}

@keyframes not-allowed {

  0%,
  100% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-0.25rem);
  }

  75% {
    transform: translateX(0.25rem);
  }
}

.icon-btn {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}


input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;
}

input[type='text'],
input[type='search'],
input[type='number'] {
  all: unset;
  box-sizing: border-box;
  width: 120px;
  height: 2rem;
  padding-inline: 0.5rem;
  font-size: 0.875rem;
  background-color: var(--color-ui-layer-dim);
  border: 2px solid var(--color-ui-layer);
  border-radius: 0.25rem;
  cursor: auto;

  &:hover {
    border-color: var(--color-ui-layer-light);
  }

  &:focus {
    border-color: var(--color-accent);
    outline: none;
  }

  ::placeholder {
    color: var(--color-text-secondary);
  }
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border: none;
  background-color: var(--color-background-light);
}

select {
  display: flex;
  align-items: center;

  &::picker-icon {
    content: "▼";
    font-size: 100%;
    transform: scale(.75);
  }

  /* &:open::picker-icon { */
  /*   transform: scale(.75) rotate(-90deg); */
  /* } */


  box-sizing: border-box;
  width: 120px;
  height: 2rem;

  padding-inline: 0.5rem;
  font-size: 0.875rem;
  background-color: var(--color-ui-layer-dim);
  /* We seem to have to do this because the browser uses this for the options too, which doesn't support this layering */
  /* background-color: #2a2a2a; */
  border: 2px solid var(--color-ui-layer);
  border-radius: 0.25rem;
  cursor: auto;
}

select option {
  text-align: right;
}

.settings-option[data-changed='true'] {
  color: var(--color-text-highlight);
  font-weight: bold;

  & .settings-description {
    font-weight: 100;
  }
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-spacer {
  flex-grow: 1;
}


.shimmer,
.shimmer-text {
  color: transparent;
  background: linear-gradient(-60deg,
      var(--color-ui-layer-dim-2) 30%,
      var(--color-ui-layer),
      var(--color-ui-layer-dim-2) 70%) right/500% 100%;
  background-color: var(--color-ui-alt);
  background-repeat: no-repeat;
  animation: shimmer 1s infinite;
  animation-delay: -1s;
}

.shimmer-text {
  border-radius: .25rem;
  width: 100%;
  animation-delay: -1.25rem;
}

@keyframes shimmer {
  to {
    background-position-x: left;
  }
}

:has(> .ellipsis) {
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}





:has(+ .progress-bar .progress.loading) .page-scrollable {
  margin-bottom: 1rem !important;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100% - var(--sidebar-width));
  overflow: hidden;

  & .page-header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  & .page-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    &:has(.page-scrollable:nth-child(2)) .page-scrollable {
      width: 50%;
    }
  }
}

.page-scrollable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
  transition: margin-bottom 200ms;

  &:focus {
    outline: none;
  }
}

.action-row {
  display: flex;
  gap: 0.5rem;
}



::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
}

:hover::-webkit-scrollbar-thumb,
:focus-visible::-webkit-scrollbar-thumb {
  background-color: var(--color-ui-layer-light);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::selection {
  color: black;
  background-color: var(--color-accent);
}
