@font-face {
  font-family: 'Inter';
  src: url('./Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Italic-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}
