@font-face {
	font-family: 'Roboto Mono';
	src: url('./RobotoMono-VariableFont_wght.ttf') format('truetype');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('./RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
}
